*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
}



.company_picture{
    display: flex;
    align-items: center;
    justify-content: end;
    flex-wrap: wrap;
}
.company_card{
    width: 29%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}
.company_card img{
    opacity: 0.5;
    transition: 0.5s;
}
.company_card:hover img{
    opacity: 1;
}